:root {
  /*----------------Prueva de degradado a una imagen--------------- 
  --degradado: #000000ad 5%, #a8a89b52 10%, #3d38388a 13%, #86828271 17%,
    #45454081 20%, #171515e1 50%, #121211db 60%, #121212ae 75%, #40403a8e 85%,
    #000000b8 95%; 
    */
  --degradado: #0000009f, #000000ad;
}
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
@font-face {
  font-family: "catComic";
  src: url(src/fonts/catComic.ttf);
}
@font-face {
  font-family: "titulos";
  src: url(src/fonts/titulos.otf);
}
body {
  background-color: #0e0d0f;
}
/* Barra de navegacion */
header {
  display: flex;
  height: 10vh;
  background-color: #9f3647;
  width: 100%;
  align-items: center;
}
nav {
  font-family: "catComic";
  font-size: 1.3rem;
  letter-spacing: 0.07rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 4%;
}
ul {
  list-style: none;
}
nav a {
  color: aliceblue;
}
a {
  text-decoration: none;
}
.links-nav {
  width: 50%;
  display: flex;
  gap: 6%;
  flex-direction: row-reverse;
}
.links-nav > li a {
  border-radius: 0.4rem;
  padding: 0.5rem;
}
.links-nav > li a:hover {
  background-color: #9f3647 !important;
  border-radius: 0.4rem;
  padding: 0.5rem;
  box-shadow: 0rem 0rem 0.5rem #1814198f;
  transition: 400ms;
}
.links-nav li:nth-child(1) a {
  background-color: #1c1c1c;
}
/* main */

/* seccion baner */

.baner {
  display: flex;
  justify-content: center;
  height: 90vh;
  background: linear-gradient(60deg, var(--degradado)),
    url(src/img/banner-bg.jpg) no-repeat center;
  background-size: cover;
  flex-direction: column;
}
.baner h1 {
  font-size: 4rem;
  width: 100%;
  color: aliceblue;
  position: relative;
  text-align: center;
  font-family: "catComic";
  text-shadow: 0 0 0.8rem #bbb5b5b8;
}
.baner h3 {
  margin-top: 3%;
  font-size: 2rem;
  font-family: "catComic";
  width: 100%;
  color: aliceblue;
  position: relative;
  text-align: center;
  text-shadow: 0 0.5rem 1rem #000000b8, 0.01rem 0 5px #bbb5b5b8;
}
/* margenes laterales para todo el contenido */
.espacios-secciones {
  margin: 10% 15% 5%;
}
/* seccion de busqueda */
.busqueda {
  display: flex;
  color: aliceblue;
  flex-wrap: wrap;
  font-family: "titulos";
  /*   animation-timeline: scroll(root block); */
  justify-content: center;
  /*    animation: desplasamiento auto; */
  /* &:is(:hover, :focus) {
    translate: 0 100px;
    transition: all 1s;
} */
}
/* @keyframes desplasamiento{
  0%{
    transform: translateY(4rem);
  }
  50%{
    transform: translateY(5rem);
  }
  100%{
    transform: translateY(6rem);
  }
} */
h2 {
  width: 100%;
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
  text-align: center;
}

#buscar {
  margin-top: 3rem;
  width: 50%;
  height: 3rem;
  border-radius: 3rem;
  padding-left: 1rem;
  font-size: 1.2rem;
  /* el & es para hacer referencia a elemento que estamos seleccionando */
  &::placeholder {
    font-size: 1.2rem;
  }
}
/* boton para buscar */
input[value="Buscar"] {
  margin: 3rem 0 0 0.7rem;
  background-color: #9f3647;
  display: inline;
  width: 10%;
  height: 3rem;
  border-radius: 3rem;
  border: aliceblue 2px solid;
  color: aliceblue;
  scale: 1.07;
  font-size: 1.2rem;
  font-weight: 700;

  /* el & es para hacer referencia a elemento que estamos seleccionando */
  &:hover {
    scale: 1;
    transition: 400ms;
    box-shadow: 0 0 1rem #f0f8ff53;
  }
}

/* grilla peliculas */
.grid-movies {
  /* margin-top: 10%; */
  display: grid;
  padding: 100px 0;
  max-height: calc((4 * 300px)+ 100px);
  grid-template: repeat(4, 300px) / repeat(4, 1fr);
  /* grid-template-columns:repeat(3,1fr); */
  justify-items: center;
  row-gap: 5%;
  overflow: hidden;
  /* anidaciones */
  /* fila 1 */
  >:nth-child(n){
    &:hover + div{
      translate: 250px;
      + div{
        translate: 150px;
        + div{
          translate: 50px;
        }
      }
    }
  }
  /*columna 2 */
  :nth-child(3n+2){
    &:hover + div{
      translate: 250px;
      + div{
        translate: 50px;
        + div{
          translate: 0px;
        }
      }
      
    }
  }
  /* columna 3 */
  :nth-child(3n+3){
    &:hover {

      + div{
        translate: 250px;
        + div{
          translate: 0px;
          + div{
            translate: 0px;
          }
        }
      }
    }
  }
  /* columna 4 */
  :nth-child(4n+4){
    &:hover + div{
      translate: 0px;
      + div{
        translate: 0px;
      }
    }
  }
  
  .movies-card{
    box-shadow: 0 0 10px #9f3647;
    transition-duration: 400ms;
    scale: 1;
    position: relative;

    &:hover{
      scale: 1.2;
      box-shadow: 0 0 10px #ffffff;
     
      .detalles-movies{
        left: 100%;
        box-shadow: 0 0 10px #ffffff;
      }
    }
    
  
  .detalles-movies{
    z-index: -1;
    height:100%;
    width: 100%;
    background-color: #9f3647;
    padding: 3%;
    position: absolute;
    left: 0;
    top: 0;
    transition: 400ms;
    h4{
      text-align: center;
      margin-bottom: 5%;
      font-family: titulos;
      font-size: 1.2rem;
    }
    .descripcion-movies{
      font-family: Arial, Helvetica, sans-serif;
      font-size: 0.9rem;
    }
  }
  }

}

